.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 10% 20%;
  height: 800px;
}

#firstcontent,
#secondcontent {
  margin-top: 8%;
}

.card {
  margin: 3%;
  border: none;
}

#c {
  margin: 6%;
}

#firstcontent h1,
p {
  text-align: center;
}

#secondcontent h1,
p {
  text-align: center;
}

hr {
  margin-top: 8%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.card-text {
  text-align: left;
}

.bt {
  margin-top: 8%;
}

.main_car_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.main_car_content {
  height: 100% !important;
  width: 100% !important;
}

.cus_card {
  background: rgba(0, 0, 0, 0.5);

  color: #f2f2f2;
  padding: 15px;
  margin-left: 4%;
}
.carousel-item img {
  height: 800px;
}
p {
  font-family: "Baskervville", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baskervville", serif;
  font-weight: 800;
}
.cus {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 30%;
  text-align: left;
}
.cp {
  margin: 15% auto;
}
.cpbtn {
  margin-left: 40%;
}
input[type="text"],
input[type="datetime-local"],
#exampleFormControlSelect1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.img1,
.img2 {
  margin: 2.8%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main {
    background: url(https://media.gettyimages.com/photos/happy-young-woman-looking-out-of-car-window-picture-id709127533?s=2048x2048);
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main {
    background: url(https://media.gettyimages.com/photos/happy-young-woman-looking-out-of-car-window-picture-id709127533?s=2048x2048);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    background-attachment: fixed;
    background-position: center;
  }
}
.jumbotron {
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
      url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7twLjkhlHwxvJvbdD228XwK7OxXa5R0qOCVtOgHb7NTsdcft0);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
  margin-top: 4%;
}
.lead {
  font-size: 25px;
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .jumbotron img {
    margin-left: 13%;
  }
}
